        * {
            box-sizing: border-box;
            font-family: Helvetica, sans-serif;
        }

        @font-face {
            font-family: Streetwear;
            src:url(../Assets/Fonts/Streetwear.woff) format("woff"),
                url(../Assets/Fonts/Streetwear.ttf) format("truetype");
        }

        body {
            margin: 0px;
            background-color: #fdfffc;
            color: #011627;
        }

        .header {
            overflow: hidden;
            background-color: #e71d36;
            color: #fdfffc;
            text-align: center;
            padding: 20px 5% 0px 5%;
            margin: 0px 14px 0px 14px;
        }

        .nav {
            overflow: hidden;
            background-color: #e71d36;
            padding: 0% 5%;
            margin: 0px 14px 0px 14px;
            position: sticky;
            top: 0;
            box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 11px 10px 0 rgba(0, 0, 0, 0.19);
        }

        .nav a {
            float: left;
            display: block;
            color: #fdfffc;
            text-align: center;
            padding: 10px 14px 8px 14px;
            text-decoration: none;
            
            font-family: Streetwear, Helvetica;
        }

        .nav a:hover {
            /* background-color: #cf1a30; */
            color: #e3e5e2;
        }

        .content {
            background-color: #fdfffc;
            color: #011627;
            padding: 32px 10% 42px;
            font-size:larger;
        }

        .contentdark {
            background-color: #011627;
            color: #fdfffc;
            padding: 32px 10% 42px;
            font-size:larger;
        }

       .footer {
            background-color: #e3e5e2;
            color: #011627;
            text-align: center;
            padding: 36px 7% 8px;
            font-size: smaller;

            box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.12);
        }
