<!DOCTYPE html>
<html lang="es">
<body>
    <footer class="footer">
        <a href="https://twitter.com/Ludmarus" target="_blank" rel="noopener noreferrer"><img width=64px alt="Twitter" src="/assets/logos/Twitter.svg"></a>
        <a href="https://discordapp.com/users/370571940621975553" target="_blank" rel="noopener noreferrer"><img width=64px alt="Discord" src="/assets/logos/Discord.svg"></a>
        <a href="https://www.youtube.com/channel/UCubiv5LKWu809e1uvzfNyZg" target="_blank" rel="noopener noreferrer"><img width=64px alt="Youtube" src="/assets/logos/Youtube.svg"></a>
        <a href="https://steamcommunity.com/id/ludmarus/" target="_blank" rel="noopener noreferrer"><img width=64px alt="Steam" src="/assets/logos/Steam.svg"></a>
        <a href="https://github.com/Ludmarus" target="_blank" rel="noopener noreferrer"><img width=64px alt="Github" src="/assets/logos/Github.svg"></a>
        <p><a href="mailto:hola@ludmarus.com">hola@ludmarus.com</a></p>
    </footer>
</body>
</html>