<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
    <header class="header">
        <a href="/"><img
            src="assets/Logoblue.svg"
            alt="Ludmarus"
            width="255" /></a>
    </header>

    <nav class="nav">
        <a class="active" href="/">Inicio</a>

        <a style="float:right" href=contacto>Contacto</a>
    </nav>
</body>
</html>