 /* Colors */
 :root {
            --white: #fff;
            --hwhite: #f5f5f5;
            --black: #000;
            --hblack: #141414;
            --red: #e71d36;
            --mred: #120204;
            --blue: #0B161E;
            --hblue: #060B0F;
        }
        
/* Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

        @font-face {
            font-family: Streetwear;
            src:url(/assets/fonts/Streetwear.woff) format("woff"),
                url(/assets/fonts/Streetwear.ttf) format("truetype");
        }

        * {
            box-sizing: border-box;
            font-family: 'Source Sans Pro', sans-serif;
        }

/* Navbar */
        .header {
            overflow: hidden;
            background-color: var(--white);
            color: var(--black);
            text-align: center;
            padding: 20px 5% 10px 5%;
            margin: 0px 0px 0px 0px;
            max-height: 200px;
            box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 11px 10px 0 rgba(0, 0, 0, 0.10);
            text-decoration: none;
        }

        .nav {
            overflow: hidden;
            background-color: var(--white);
            padding: 0% 5%;
            margin: 0px 0px 0px 0px;
            position: sticky;
            top: 0;
            box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 11px 10px 0 rgba(0, 0, 0, 0.10);
        }

        .nav a {
            float: left;
            display: block;
            color: var(--black);
            text-align: center;
            padding: 10px 14px 8px 14px;
            text-decoration: none;
            
            font-family: Streetwear, Helvetica;
        }

        .nav a:hover {
            color: var(--red);
        }
        
/* Footer */
        .footer {
            background-color: var(--hwhite);
            color: var(--black);
            text-align: center;
            padding: 36px 7% 8px;
            text-decoration: none;
        }

        .footer a {
            color: var(--black);
            text-decoration: none;
            padding: 5px;
        }

        .footer a:hover {
            color: var(--red);
        }

/* SVG */
        svg:hover {
            color: var(--red);
        }

/* Main */
        body {
            margin: 0px;
            background-color: var(--white);
            color: var(--black);
        }

        .content {
            background-color: var(--blue);
            color: var(--white);
            padding: 42px 10%;
            font-size: 1.1em;
            text-align: center;
        }

/* Blog */
        .blog {
            background-color: var(--white);
            color: var(--black);
            padding: 0px 20% 0px;
            min-width: 512px;
        }

        .blog a{
            text-decoration: none;
            color: var(--black);
        }

        .blog a:hover{
            color: var(--red);
        }

        .blogTitle {
            padding: 4px 7%;
            margin: 32px 0px;

            color:var(--black);
            font-size: larger;
            text-align: left;
        }

        .blogWrap {
            width: 90%;
            margin: 0 auto;
        }

        #blogPost {
            color: var(--black);
            text-align: justify;
            text-justify: auto;
            float: left;
        }

        #blogSidebar {
            text-decoration: none;
            float: left;
        }

        #blogSidebar a{
            text-decoration: none;
            color: var(--black);
        }

        #blogSidebar a:hover{
            color: var(--red);
        }

        


/*******************************************************/
/*                      DARK MODE                      */
/*******************************************************/
@media (prefers-color-scheme: dark) {

/* Images */
        img {
            opacity: .75;
            transition: opacity .5s ease-in-out;
        }

        img:hover {
            opacity: 1;
        }

/* Navbar */
        .header {
            background-color: var(--hblack);
            color: var(--white);
        }

        .nav {
            background-color: var(--hblack);
        }

        .nav a {
            color: var(--white);
        }
        
/* Footer */
        .footer {
            background-color: var(--hblack);
            color: var(--white);
        }

        .footer a {
            color: var(--white);
        }

/* Main */
        body {
            background-color: var(--black);
            color: var(--white);
        }

        .content {
            background-color: var(--black);
            color: var(--white);
        }

/* Blog */
        .blog {
            background-color: var(--black);
            color: var(--white);
        }

        .blog a{
            text-decoration: none;
            color: var(--white);
        }

        #blogPost {
            color: var(--white);
        }
        
        #blogTitle {
            background-color: var(--black);
            color:var(--white);
        }

        #blogSidebar a{
            text-decoration: none;
            color: var(--white);
        }
}




/*******************************************************/
/*                       MOBILE                        */
/*******************************************************/

@media screen and (max-width: 1000px) {

/* Navbar */
        .header {
            overflow: hidden;
            text-align: center;
            padding: 20px 2% 10px 2%;
            margin: 0px 0px 0px 0px;
            max-height: 150px;
        }

        .nav {
            overflow: hidden;
            padding: 0% 5%;
            margin: 0px 0px 0px 0px;
            position: sticky;
            top: 0;
        }

        .nav a {
            float: left;
            display: block;
            text-align: center;
            padding: 10px 14px 8px 14px;
        }
        
/* Footer */
        .footer {
            text-align: center;
            padding: 36px 5% 8px;
        }

        .footer a {
            text-decoration: none;
            padding: 5px;
        }

/* Main */
        body {
            margin: 0px;
        }

        .content {
            padding: 42px 10%;
            font-size: 1em;
            text-align: center;
        }

/* Blog */
        .blog {
            padding: 0px 10% 0px;
        }

        .blogWrap {
            width: 90%;
        }

        #blogPost {
            margin: 40px auto;
            float: left;
            width: 100%;
        }

        #blogSidebar {
            float: left;
            width: 100%;
            min-width: none;
        }
        
        .blogTitle {
            padding: 4px 5%;
            margin: 32px 0px;

            font-size: medium;
            text-align: left;
        }
}




/*******************************************************/
/*                     DESKTOP ONLY                    */
/*******************************************************/

@media screen and (min-width: 1400px) {

/* Blog */
    .blogWrap {
        max-width: 1300px;
    }

    #blogPost {
        float: left;
        width: 75%;
    }

    #blogSidebar {
        float: left;
        width: 25%;
    }
    
}