        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

        @font-face {
            font-family: Streetwear;
            src:url(/assets/fonts/Streetwear.woff) format("woff"),
                url(/assets/fonts/Streetwear.ttf) format("truetype");
        }

        * {
            box-sizing: border-box;
            font-family: 'Source Sans Pro', sans-serif;
        }

        body {
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0px;
            background-color: #fdfffc;
            color: #011627;
        }

        .body2 {
            margin: 0% 5%;
        }

        h1 { font-size: 2em }
        h2 { font-size: 1.5em }
        p { font-size: 1em }

        ul { list-style-type: none }

        h3 {
            font-weight: 400;
            margin: 0 0 16px;
          }

        .header {
            overflow: hidden;
            background-color: #fdfffc;
            color: #000;
            text-align: center;
            padding: 20px 5% 0px 5%;
            margin: 0px 0px 0px 0px;
            box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 11px 10px 0 rgba(0, 0, 0, 0.18);
        }

        .nav {
            overflow: hidden;
            background-color: #fdfffc;
            padding: 0% 5%;
            margin: 0px 0px 0px 0px;
            position: sticky;
            top: 0;
            box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 11px 10px 0 rgba(0, 0, 0, 0.18);
        }

        .nav a {
            float: left;
            display: block;
            color: #000;
            text-align: center;
            padding: 10px 14px 8px 14px;
            text-decoration: none;
            
            font-family: Streetwear, Helvetica;
        }

        .nav a:hover {
            color: #e71d36;
        }

        .content {
            background-color: #fdfffc;
            color: #011627;
            padding: 0px 10% 42px;
            font-size:22px;
            text-align: center;
        }

        .contentdark {
            background-color: #011627;
            color: #fdfffc;
            padding: 8px 10% 42px;
            font-size:22px;
            text-align: center;
        }

       .footer {
            background-color: #e3e5e2;
            color: #011627;
            text-align: center;
            padding: 36px 7% 8px;
            text-decoration: none;

            box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.12);
        }

        .footer a {
            color: #011627;
            text-decoration: none;
            padding: 5px;
        }

        .footer a:hover {
            color: #cf1a30;
        }

        .links a {
            text-align: left;
            display: block;
            color: #011627;
            text-decoration: none;
            padding: 0px 0px 16px;
        }

        .links a:hover {
            color: #cf1a30;
        }

        .title1 {
            background-image: url(/assets/bg/Dotsb2.png);
            padding: 4px 7%;
            margin: 32px 0px;
    
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #e3e5e2;
            color:#e71d36;
            font-size: larger;
            text-shadow: 2px 2px 3px rgba(20,20,20,0.3);
            text-align: left;
    
            box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.12);
        }

        .blog {
            background-color: #fdfffc;
            color: #011627;
            padding: 0px 5% 0px;
            font-size:large;
        }

        .blog a{
            text-decoration: none;
            color:#011627;
        }

        .blog a:hover{
            text-decoration: none;
            color:#e71d36;
        }

        .post {
            color: #011627;
            margin: 40px 10%;
        }